@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  object-fit: fill;
}
:root {
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --verDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  padding: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--white);
  border-radius: 10px;
}

.img-container img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.perfume-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.perfume-info > * {
  margin-bottom: 1.25rem;
}
.perfume-info h5 {
  color: var(--darkGrayishBlue);
  letter-spacing: 5px;
  font-size: 1rem;
  font-family: var(--Fraunces);
  text-transform: uppercase;
}
.perfume-info h1 {
  font-weight: 700;
  font-family: var(--montserrat);
  font-size: 2.5rem;
}
.perfume-info p {
  line-height: 1.5;
  width: 18rem;
  letter-spacing: 1.5px;
  font-family: var(--Fraunces);
  color: var(--darkGrayishBlue);
}
.price-tag span {
  display: inline-block;
  font-size: 1rem;
  text-decoration: Line-through;
  color: var(--darkGrayishBlue);
}
.price-tag p {
  font-size: 2.5rem;
  font-family: var(--montserrat);
  color: var(--darkcyan);
}

button {
  background-color: var(--darkcyan);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.85rem 0;
  gap: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--white);
  font-weight: 500;
}
button:active {
  background-color: hsl(158, 85%, 18%);
}
button img {
  width: 1.3rem;
}

@media screen and (min-width: 1440px) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  .container {
    max-width: 45rem;
    flex-direction: row;
    align-items: stretch;
    justify-items: stretch;
  }

  #imgage {
    height: 100%;
    object-fit: fill;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
}
